
body {
    background: #CAEFFB;
}
h1 {
    text-align: center;
    margin: 1em;
}
form {
    width: 90%;
    display: flex;
    display: -webkit-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 3em;
    border: 1px solid white;
    border-radius: 2em;
    background: radial-gradient(#FFFFFF, #CAEFFB);
}

input, button, label {
    display: inline-block;
    font: 1.1em sans-serif;
    width: 100px;
    height: 27px;
    vertical-align: top;
}
input {
    width: 200px;
}
button:hover {
    cursor: pointer;
}
section {
    width: 100%;
    margin: auto;
    margin-top: 2.5em;
    display: flex;
    display: -webkit-flexbox;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
div {
    width: 48%;
    min-width: 400px;
    height: 45em;
}
#rigth {
    border-left: 2px solid white;
}

